@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #31333f;
}

.tab-divider {
  height: 2px; 
  background-color: rgb(213, 218, 229) !important;
}

.card-divider {
  width: 98%;
  margin: auto;
  height: 2px; 
  background-color: rgb(213, 218, 229) !important;
}

.profile-image-radius {
  border-radius: 10px 0 0 10px;
}

body {
  color: var(--foreground);
  background: var(--background);
}
